// Color Variables
$primary-color: #FF968D;
$secondary-color: #4C3A3D;
$text-color: #000;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
$orange: #F27263;

// Font Variables
$primary-font: 'Noto Serif Thai', sans-serif;
$secondary-font: 'Noto Sans Thai';
$icon-font: 'themify';